/* You can add global styles to this file, and also import other style files */
@import url('http://fonts.googleapis.com/css?family=Montserrat:400,700');

body, html{
  height: 100%;
  margin: auto;
}

body{
  font-family: 'Montserrat';
  font-size: 18px;
}

a {
  text-decoration: none;
  color: white;
}

.container {
  width: 97%;
  margin: 0 auto;
  padding: 1.3em;
  display: grid;
  grid-template-columns: 10% auto;


}

section {
  width: 80%;
  margin: 0 auto;
  padding: 2em;
}

header {
  background: #4169e1;
  height: 10%;
}

nav {
justify-self: right;}

.logo{
  font-weight: bold;

}

ul {
list-style-type: none;
margin: 0; padding:0;}

li{
float:left;}

a{
padding: 1em;
text-transform: uppercase;
font-size: .8em;
}

a:hover {
  background: #6495ed;
}


/*Books body*/
img {
  position: inherit;
  margin-left: -13%;
  margin-top: -3.2%;
}

p{

 position: absolute;
 margin-top: 1%;
 margin-left: 25%;
 font-size: 40px;
 color:black;
 font-style: italic;
}



 .books{

   margin-top: 8%;
   margin-left: 12%;
   float: left;

 }

#text{
    text-align: justify;
}

/*
returns
*/

#serial {
  position: absolute;
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 40%;
  font-size: 20px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-top: 1%;
  margin-left: 9%;
}


.submit{
    position: absolute;
    background-color: #4169e1;
    width: 10%;
    font-size: 40px;
    margin-top: 6.4%;
    margin-left: 23%;   
}

#confirmation{
    position: absolute;
    width: 10%;
    font-size: 46px;
    margin-top: 12%;
    margin-left: 23%;   
    
}

#conftitle{
    position: absolute;
    width: 10%;
    font-size: 20px;
    margin-top: 12%;
    margin-left: 1%;   
    
}

#addresstitle{
    position: absolute;
    width: 10%;
    font-size: 20px;
    margin-top: 16%;
    margin-left: 1%;   
    
}
#address{
    position: absolute;
    width: 10%;
    font-size: 20px;
    margin-top: 16%;
    margin-left: 23%;   
    
}

#wait{
    margin-top: 28%;
    
}